* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #ccd1ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

#wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30rem;
  height: 40rem;
  background: #e0e3ff;
}

main {
  width: 100%;
}

.header {
  padding: 0 3rem;
}

h2 {
  font-size: 2rem;
  letter-spacing: 1px;
  text-align: center;
  color: #434852;
  margin-bottom: 1rem;
  font-family: system-ui;
}

input {
  width: 100%;
  padding: 1.3rem 1rem;
  font-size: 1rem;
  letter-spacing: 1px;
  background: rgb(255 255 255 / 60%);
  border: none;
  margin-bottom: 3rem;
  outline: none;
}

.qr-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}

.footer {
  text-align: center;
}

.button {
  cursor: pointer;
  padding: 1.2rem 2rem;
  font-size: 1.1rem;
  letter-spacing: 2px;
  border: none;
  background-color: #7530ff;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 1rem;
  text-decoration: none;
}

@media (max-width: 575.99px) {
  #wrapper {
    width: 100%;
    height: 100%;
  }
  .header {
    padding: 0 1rem;
  }
}
